.reservationBtn:hover {
    transform: scale(1.10);
    transition: 200ms;
    border: solid 5px var(--basic);
}


.reservationBtn:active, .menuBtn:active {
    transform: scale(0.90);

}
.reservationBtn {
    color: var(--stdg);
    border: solid 5px var(--lg);
}

.topBanner {
    flex: 2;
}
.downBanner {
    flex: 1;
    
}

.menuBtn {
    background: none;
    color: var(--basic);
    font-size: 24px;
    border: 0;
    transition: all .2s ease-in-out; 
    font-weight: 700;
}
.menuBtn:hover, .triangle:hover {
    color: var(--stdg);   
}
.test {
    font-family: sans-serif;
    text-align: center;
}
.triangle {
    color: var(--basic);
    size: 28;
    stroke-width: 1.5;
}

