a {
    text-decoration: none;
}

Link {
    text-decoration: none;
    text-shadow: 10px;
}

:root {
    --bg1: #353535;
    --bg2: #3C6E71;
    --bg3: #284b63;
    --lg: #D9D9D9;

    --stdg: #6c757d;
        --dg: #495057
}
body {
    font-family: 'Anonymous Pro', monospace;
}
p, span{
    font-size: 18px;
    line-height: 27px;
    /* padding-bottom: 27px; */
}
a {
    color: black;
}